{% extends 'master.html' %}
{% load static %}
{% block content %}

<div class="container text-left py-5">
    <div class="py-3 heading">
        <h1>Send passphrase to user's phone </h1>
        <p>Please click the <strong>Send Passphrase</strong> button to send the following message to the phone number
            <strong>{{phone}}</strong> on file for the user with CWID <strong>{{cwid}}</strong>
        </p>
        <h2>Message:</h2>
        <pre>{{message}}</pre>
        <br />
        <form id="csrf-form" action="{% url 'web:send-passphrase' %}" method="post">
            {% csrf_token %}
            <input name="passphrase" value="{{passphrase}}" class="d-none">
            <input name="phone" value="{{phone}}" class="d-none">
            <input name="cwid" value="{{cwid}}" class="d-none">
            <input name="verify_attempt_id" value="{{verify_attempt_id}}" class="d-none">

            <div class="text-center m-2">
                <button class="btn btn-lg btn-success" type="submit">Send Passphrase</button>
            </div>
        </form>

    </div>
</div>



{% endblock %}